.gradient-button {
  transition: all 0.2s ease;
  background: linear-gradient(135deg, $secondary-4 0%, $primary 100%);
  font-weight: 700;
  @include box_shadow(2)
  &:hover {
    @include box_shadow(3)
  }
}
