$header-height: 80px;

.navbar {
  width: 100%;
  height: $header-height;
  flex: 1;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #fff;
  @include box_shadow(1)

  .navbar-lower-wrapper {
    width: 91%;
    display: flex;
    margin: 0 auto;

    .logo-wrapper {
      display: inline-flex;
      flex: 1;
      background-color: #fff;
      align-items: center;
      justify-content: center;

      .logo {
        height: 65px;
        padding-top: 5px;
        width: auto;
      }
    }

    .nav-items-wrapper {
      display: inline-flex;
      flex: 9;
    }

    .nav-button-wrapper {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      padding-right: 2%;

      button {
        height: 45px;
        width: 140px;
        transition: all 0.2s ease;
        background: linear-gradient(135deg, $secondary-4 0%, $primary 100%);
        color: #fff;
        border-radius: 1px;
        cursor: pointer;
        @include box_shadow(2)

        &:hover {
          @include box_shadow(3)
        }

      }

    }

  }

}
