// primary colors
$white: #fff;
$primary: #48C4E5;
$black: #222;

// secondary colors
$secondary-1: #071535;
$secondary-2: #25336E;
$secondary-3: #1E429A;
$secondary-4: #009FDA;
$secondary-5: #9CDBF1;
$font-color: $black;
